
<mat-table [dataSource]="dSource">

  <ng-container cdkColumnDef="id">
    <mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="title">
    <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="image">
    <mat-header-cell *cdkHeaderCellDef> Image </mat-header-cell>
    <mat-cell *cdkCellDef="let row"><img src="{{row.image}}"/>  </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *cdkHeaderRowDef="['id', 'title', 'image']"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: ['id', 'title', 'image']"></mat-row>
</mat-table>



<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>


